/* MAIN COLOR SCHEME */
:root {
  --green: #609b7e;
  --blue: #83c5be;
  --light-blue: #bee9e8;
  --quaternary-color: #eaf9f9;
  --black: #000;
  --white: #fff;
  --dark-blue: #62b6cb;
  --navy: #1b4965;
  --dark-green: #047857;
  --light-green: #059669;
  --gray: #4b5563;
  --light-gray: #9e9e9e;
  --blue-ciel: #0891b2;
  --ice-blue: #c2f1ff;
  --ice-green: #ccfbf1;
}
