.CompletedView-pickup-step {
    background-color: #ECFEFF;
    border: 1.6px solid #A2F4FD;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem; 
    margin-bottom: 1.2rem;
    min-height: 340px; 
    text-align: center;
}

.CompletedView-pickup-step-icon {
    flex-shrink: 0;
    display: flex;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 80px; 
    height: 80px;
    margin-bottom: 1.2rem;
}

.CompletedView-pickup-step-content {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    flex: 1;
    max-width: 650px;
}

.CompletedView-pickup-step-title {
    font-size: 1.5rem; 
    font-weight: 500;
    color: #1B4965;
    text-align: center;
    margin: 0;
}

.CompletedView-pickup-step-description {
    font-size: 0.9rem; 
    color: #4b5563;
    line-height: 2;
    text-align: center;
    margin: 0;
}